.App {
  margin: 5% 10% 0 10%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.face {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: tomato;
  border: 5px solid;
  overflow: hidden;
}
